node_modules
.env

# Research files
ResearchReference/
research_reference.txt

# TypeChain files
/typechain
/typechain-types

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

# Python
venv/
__pycache__/
*.pyc

# Hardhat build artifacts
artifacts/
cache/

# OS junk
.DS_Store
